
@{
    ViewBag.Title = "SearchResultDetail";
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../../Content/webapp/detail.css" rel="stylesheet" />
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html, body {
            background-color: rgb(242,242,242);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="search"></div>
        <div class="content">
            <div class="content-main">
                <div class="vocabulary">
                    <table class="vocabulary-label">
                        <tr>
                            <td>录井</td>
                            <td>
                                <button class="img-button"></button>
                                <span>收藏</span>
                                <button class="img-button"></button>
                                <span>下载</span>
                                <button class="img-button"></button>
                                <span>显示</span>
                            </td>
                        </tr>
                    </table>
                    <table class="vocabulary-metadata">
                        <tr>
                            <td>目&nbsp;&nbsp;&nbsp;标</td>
                            <td>珠江口盆地</td>
                            <td>来&nbsp;&nbsp;&nbsp;源</td>
                            <td>cnki</td>
                        </tr>
                        <tr>
                            <td>地&nbsp;&nbsp;&nbsp;区</td>
                            <td>中国南海</td>
                            <td>语&nbsp;&nbsp;&nbsp;种</td>
                            <td>中文</td>
                        </tr>
                        <tr>
                            <td>单&nbsp;&nbsp;&nbsp;位</td>
                            <td>中国科学院海洋研究所</td>
                            <td>作&nbsp;&nbsp;&nbsp;者</td>
                            <td>王莹</td>
                        </tr>
                        <tr>
                            <td>时&nbsp;&nbsp;&nbsp;间</td>
                            <td>2012/3/1</td>
                            <td>格&nbsp;&nbsp;&nbsp;式</td>
                            <td>jpg</td>
                        </tr>
                        <tr>
                            <td>关键词</td>
                            <td colspan="3">盆地位置图 盆地概况</td>
                        </tr>
                        <tr>
                            <td>概&nbsp;&nbsp;&nbsp;述</td>
                            <td colspan="3">在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井</td>
                        </tr>
                    </table>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">不同版本成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                        </div>
                    </div>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">不同版本成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                        </div>
                    </div>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">相同项目成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                            <div class="vocabulary-tag-content-section">
                                <p>地质录井项目有钻时录井、岩屑录井、岩心录井、荧光录井、钻井液录井和井壁取心录井等。评价录井项目有地化录井、定量荧光录井和罐装气录井等。工程录井项目主要有七笔参数仪录井、九笔参数仪录井和综合录井等。</p>
                            </div>
                        </div>
                    </div>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">相同环节成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                        </div>
                    </div>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">使用成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                        </div>
                    </div>
                    <div class="vocabulary-tag">
                        <div class="vocabulary-tag-label-container">
                            <button class="vocabulary-tag-label">相同特点成果</button>
                        </div>
                        <div class="vocabulary-tag-content">
                            <div class="vocabulary-tag-content-section">
                                <p>在钻井完井过程中采集和分析地质及工程资料的作业。录井工作的主要任务是根据相应设计的要求，取全取准反映地下地质和地面施工情况的各种信息，以便掌握井下地层特征和变化，监测地面设备运转状态。随着录井技术的不断发展，录井作业的范畴也在随之延伸。现代录井方法主要有三大类：地质录井、评价录井和工程录井。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-relative">
                <div class="content-relative-display">
                    <h1>相关目标</h1>
                    <ul>
                        <li>珠江口珠一凹陷</li>
                        <li>珠江口珠二凹陷</li>
                        <li>珠江口珠三凹陷</li>
                    </ul>
                </div>
                <div class="content-relative-display">
                    <h1>相关工作环节</h1>
                    <ul>
                        <li>珠江口珠一凹陷服务范围为服务网服务费无所所所所是是是服务费我问问VB不过节目吗</li>
                        <li>珠江口珠二凹陷</li>
                        <li>珠江口珠三凹陷</li>
                    </ul>
                </div>
                <div class="content-relative-display">
                    <h1>相关成果</h1>
                    <ul>
                        <li>盆地概况</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../Lib/JQuery/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="../Lib/Vue/vue.js" type="text/javascript"></script>
</body>
</html>

