@{
    Layout = "~/Views/Shared/_formlayout.cshtml";
}
<link href="~/Content/webapp/Signin.css" rel="stylesheet" type="text/css" />
<link href="~/Content/webapp/global.css" rel="stylesheet" type="text/css" />
<link href="~/Content/webapp/layout.css" rel="stylesheet" type="text/css" />

<body class="TopToolbar-view">
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid topthree">
            <div class="navbar-header">
                <a class="navbar-brand" href="/WebApp/Index">
                    <img alt="Brand" src="~/Images/sooil/sooil.png" /><span class="title">@ResHelper.GetStr("S_FP_Label_PwdAssistance")</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="forgotpassword">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <div class="content-title form-group">@ResHelper.GetStr("S_FP_Lable_EnterEmail")</div>
                    <input class="form-control form-group " type="text" id="Email" name="Email" />
                    <button class="mini-button frame-submit frame-default form-group">@ResHelper.GetStr("S_FP_Button_Submit")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright"> ©2015 版权所有 北京侏罗纪软件股份有限公司 京ICP备05042183号</div>
</body>

<script type="text/javascript">
    mini.parse();
</script>
